<div ng-repeat="star in stars track by $index">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <a class="thumbnail" href="#/star/{{star.id}}">
	      <img src="http://img.celepedia.de/celepedia/rest/pictures/download/{{star.imgid}}?profile=SQUARE_300_2">
	      <div class="caption">
	        <h3>{{star.name}}</h3>
	      </div>
	    </a>
	  </div>
	</div>
</div>