<div class="row detailpage" ng-init="followed=false;">


  <div class="subscribecontainer col-xs-12 col-md-4">

  <h1>Rihanna</h1>
  
            <div class="thankyou" ng-click="followed=!followed" ng-class="{hidden: !followed}"><div class="subscribed"></div></div>

      <div class="subscribebutton" ng-click="followed=!followed"></div>
      <div class="caption">

        <p class="biography">Rihanna ist eine barbadische Pop-Sängerin mit Einflüssen von R&B, Hip-Hop, Dance und Soca. Bislang verkaufte sie weltweit mehr als 100 Millionen Tonträger und gewann acht Grammy Awards.</p>
      </div>
</div>
</div>	
<script>

$(".bgimage").css("background-image","url(http://fysam.de/images/1.jpg)");
</script>
<a class="embedly-card" href="https://www.youtube.com/watch?v=B3eAMGXFw1o"></a>
<a class="embedly-card" href="https://twitter.com/rihanna/status/616468587037917184"></a>
<a class="embedly-card" href="https://www.youtube.com/watch?v=5wouz4gZy_8"></a>
<a class="embedly-card" href="https://twitter.com/thefader/status/616459591774154753"></a>
<a class="embedly-card" href="http://www.bild.de/unterhaltung/musik/musik-videos/pupsende-rihanna-in-der-badewanne-41132820.bild.html"></a>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>