<div class="jumbotron overviewcard" style="background-repeat:no-repeat;background-image:url(/images/{{star.id}}.jpg);background-size:auto 100%">

  <h1>NAME</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p><a class="btn btn-primary" role="button">Follow</a></p>
        <span>Introtext</span>
      </div>
    </div>
  </div>
</div>
</div>	
<a href="http://www.lifebuzz.com/chris-walks/">Man Walks Nearly 3000 Miles Through China. His Before & After Photos Will Shock You.</a>
<a class="embedly-card" href="http://www.lifebuzz.com/chris-walks/">Man Walks Nearly 3000 Miles Through China. His Before & After Photos Will Shock You.</a>

    <a class="embedly-card" href="https://twitter.com/rihanna/status/614189589914234880">Rihanna on Twitter</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>