


<div class="row detailpage" ng-init="followed=false">



  <div class="subscribecontainer col-xs-12 col-md-4">
      <h1>{{star.name}}Rihanna</h1>
            <div class="thankyou" ng-click="followed=!followed" ng-class="{hidden: !followed}"><div class="subscribed"></div></div>

      <div class="subscribebutton" ng-click="followed=!followed"></div>
      <div class="caption">

        <p class="biography">Introtext zum Subscriben steht hier, schön lang und irgendiwe doch kurz.</p>
      </div>
</div>
</div>	
<a href="http://www.lifebuzz.com/chris-walks/">Man Walks Nearly 3000 Miles Through China. His Before & After Photos Will Shock You.</a>
<a class="embedly-card" href="http://www.lifebuzz.com/chris-walks/">Man Walks Nearly 3000 Miles Through China. His Before & After Photos Will Shock You.</a>

    <a class="embedly-card" href="https://twitter.com/rihanna/status/614189589914234880">Rihanna on Twitter</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>