<script>

</script>
<div class="row detailpage" ng-init="followed=false;">


  <div class="subscribecontainer col-xs-12 col-md-4">

  <h1>{{star.nickname}}</h1>
  
            <div class="thankyou" ng-click="followed=!followed" ng-class="{hidden: !followed}"><div class="subscribed"></div></div>

      <div class="subscribebutton" ng-click="followed=!followed"></div>
      <div class="caption">

        <p class="biography">{{star.description}}</p>
      </div>
</div>
</div>	

<div class="bgwhite" ng-repeat="post in posts">
<a class="embedly-card" href="{{post.url}}">{{star.nickname}} on Twitter</a>

</div>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>